---
import { getEntry, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';

const page = await getEntry('pages', 'services');
const { Content } = await render(page);
---
<Layout
  title={page.data.title}
  description={page.data.intro}
>
  <PageHeader title={page.data.title} intro={page.data.intro} />

  <section class="py-20 px-8">
    <div class="prose mx-auto">
      <Content />
    </div>
  </section>
</Layout>
